body {
    user-select: none;
	font-family: arial;
}
#root {
    padding: 8px;
}
#root > ul {
     display: table;
}
#root > ul > li {
    font-family: monospace;
	cursor: pointer;
    padding-left: 8px;
    display: table-caption;
    text-align: center;
}
#root > ul > .links, #root > ul > li.link {
    font-size: x-large;
    border-bottom: 1px solid;
    margin-top: 14px;
    margin-bottom: 14px;
}
.padLink {
    padding-left: 20px;
    padding-right: 20px;
}
.padLink:hover {
    padding-left: 20px;
    padding-right: 20px;
}
#root > ul > li > span.link {
    padding-top: 4px;
    border-bottom: 1px solid;
}
#root > ul > li.ignore {
    list-style-type: none;
	cursor: default;
    white-space: pre;
    min-height: 12px;
}
#root > ul > li.ignore.head {
    font-size: xx-large;
    text-align: center;
    margin-top: 50px;
}
#root > ul > li.ignore.bigHead {
    font-size: xxx-large;
}
#root > ul > li.ignore.help {
    font-size: large;
    margin-top: 20px;
}
#root > ul > li.ignore.help.indent {
    font-size: small;
    margin-top: initial;
}

#root > ul > li > img {
    margin: 10px;
}

#root > .pageHeader {
    border-bottom: 2px solid;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    min-height: 64px;
}
#root > .pageHeader > h2.ignore.bigHead {
    font-family: monospace;
    font-size: xxx-large;
    font-weight: 300;
    text-align: center;
    margin: 0px;    
}
.externLink {
    text-decoration: none;
    margin: 20px;
    position: absolute;
    top: -14px;    
}
/*.hide {
    opacity: 0;
    display: none;
}*/
.imageOverlay {
    position: fixed;
    top: 0px;    
    left: 0px;    
    bottom: 0px;
    right: 0px;
    background: #0008;
    margin: 0px;
    padding: 0px;
}
.overlay.image {
    cursor: pointer;
    position: absolute;
    border: 3px solid;
}
.overlay.info {
    font-size: x-large;
    position: absolute;
}
/*
@keyframes fadeIn {  
   from { opacity: 0; }  
   to { opacity:1; }  
}*/