:root {
  --bgColorA: #111;
  --bgColorB: #000;
  --bgColorC: #333;
  
  --linkBorderColor: #006;
  --borderColor: #BBB;
  --linkHoverBG: #00A;
  --linkHoverColor: #FDB
}

body {
    background: var(--bgColorB);
    color: var(--borderColor);
}
#root {
    background: var(--bgColorA);
}
#root > ul > li {
    color: #DDF;
}
#root > ul > .links {
    border-bottom-color: var(--linkBorderColor);
}
#root > ul > li.link {
    border-bottom-color: var(--linkBorderColor);
}
#root > ul > li > span.link {
    border-bottom-color: var(--linkBorderColor);
}
#root > ul > li.link:hover {
	background-color: var(--linkHoverBG);
	color: var(--linkHoverColor);
}
#root > ul > li > span.link:hover {
	background-color: var(--linkHoverBG);
	color: var(--linkHoverColor);
}
#root > ul > li.ignore {
    color: var(--borderColor);
}
#root > ul > li.ignore.head {
    border-top-color: var(--borderColor);
} 
#root > ul > li.ignore.head {
    color: #DDD;
}
#root > ul > li > img {
    border: 3px solid #BBB;
}
#root > .pageHeader {
    background: var(--bgColorC);
    box-shadow: 0px 5px 5px black;    
}
#root > .pageHeader > h2.ignore.bigHead {
    color: #EEE;    
}
.externLink {
    color: #DDF;
}
.externLink:hover {
	background-color: #447;
	color: #FEE;
}
.overlay.info {
    background: #0008;
}