body {
	font-family: arial;
    user-select: none;
    -moz-user-select: none;
    overflow: hidden;
    background: #568;
}
#content {
    position: absolute;
	top: 0px;
	left: 0px;
    width: 100%;
    height: 100%;
}
.floatingBox {
	position: absolute;
	border: 2px solid black;
    background: #357;
}

.floatingModule {
    position: absolute;
    top: 100px;
    left: 400px;
    background: #678;
    width: 200px;
    height: 200px;
    border: 1px solid;
    box-shadow: 2px 3px 4px 2px #0006;
}
.floatingModuleTitle {
    
}
.floatingBoxTitle {
    position: absolute;
    left: 10px;
    top: 2px;
    width: 80%;
    color: white;
    text-align: center;
}
.floatingBoxScrollBox {
    position: absolute;
    left: 4px;
    right: 4px;
    top: 30px;
    bottom: 4px;
    color: white;
	border: 1px solid black;
	background: #2e4362;
	overflow-y: scroll;
    font-size: 12px;
	font-family: monospace;
}
.infoItem {
	pointer-events: none;
}

.canvas {
}
.boxed {
	position: absolute;
	top: 0px;
	left: 0px;
}
.buttonContainer {
	position: absolute;
    /*border : 1px solid black;*/
	top: 0px;
	left: 0px;
}
.button {
    position: absolute;
    border : 1px solid black;
    background: url(./Images/icons.png);
    cursor : pointer;
}
.icon12   { width: 12px; height: 12px; background: url(./Images/icons.png); }
.icon8    { width: 8px;  height: 16px; background: url(./Images/icons.png); }
.icon16   { width: 16px; height: 16px; background: url(./Images/icons.png); }
.icon3216 { width: 32px; height: 16px; background: url(./Images/icons.png); }
.icon24   { width: 24px; height: 24px; background: url(./Images/icons.png); }
.icon32   { width: 32px; height: 32px; background: url(./Images/icons.png); }
.icon40   { width: 40px; height: 40px; background: url(./Images/icons.png); }
.icon48   { width: 48px; height: 48px; background: url(./Images/icons.png); }
.iconPan  { width: 8px; height: 16px; background: url(./Images/icons.png); }
.iconsChannelShow { width: 8px; height: 16px; background: url(./Images/icons.png); }
.button:hover {
    border: 2px solid white;
    margin-top: -1px;
    margin-left: -1px;
}
.checked  { background-color: #BBB; }
.button.rendered.checked {
    border: 2px solid white;
    margin-top: -1px;
    margin-left: -1px;
}
/*.button.icon8.checked  { background-color: #BBB; }
.button.icon16.checked { background-color: #BBB; }
.button.icon24.checked { background-color: #BBB; }
.button.icon32.checked { background-color: #BBB; }
.button.icon40.checked { background-color: #BBB; }
.button.icon48.checked { background-color: #BBB; }*/
.selectable { border-color : #4F4; }
.active { border-color : #FFF; }
.button.selectable:hover {
   /* border: 2px solid white;
    margin-top: -1px;
    margin-left: -1px;*/
	border-color : #4F4;
	background-color: #1A1;
}
.patRow1 { background-color: #832;}
.patRow1.patterActive { background-color: #D52;}
.patRow1.patterActive.barPosHighlight { background-color: #FA4;}
.patRow1.patterActive.barPatternHighlight { background-color: #8D8;}
.patRow1.selected { background-color: #28F; }
.patRow1.patterActive.selected { background-color: #28F; }
.patRow2 { background-color: #864;}
.patRow2.patterActive { background-color: #C72;}
.patRow2.patterActive.barPosHighlight { background-color: #FA4;}
.patRow2.patterActive.barPatternHighlight { background-color: #8D8;}
.patRow2.selected { background-color: #28F; }
.patRow2.patterActive.selected { background-color: #28F; }
.patRow3 { background-color: #882;}
.patRow3.patterActive { background-color: #CC2;}
.patRow3.patterActive.barPosHighlight { background-color: #FA4;}
.patRow3.patterActive.barPatternHighlight { background-color: #8D8;}
.patRow3.selected { background-color: #28F; }
.patRow3.patterActive.selected { background-color: #28F; }
.patRow4 { background-color: #282;}
.patRow4.patterActive { background-color: #2B2;}
.patRow4.patterActive.barPosHighlight { background-color: #FA4;}
.patRow4.patterActive.barPatternHighlight { background-color: #8D8;}
.patRow4.selected { background-color: #28F; }
.patRow4.patterActive.selected { background-color: #28F; }
.patRow5 { background-color: #488;}
.patRow5.patterActive { background-color: #4BB;}
.patRow5.patterActive.barPosHighlight { background-color: #FA4;}
.patRow5.patterActive.barPatternHighlight { background-color: #8D8;}
.patRow5.selected { background-color: #28F; }
.patRow5.patterActive.selected { background-color: #28F; }
.patRow6 { background-color: #8C00bB;}
.patRow6.patterActive { background-color: #8C00bB;}
.patRow6.patterActive.barPosHighlight { background-color: #FA4;}
.patRow6.patterActive.barPatternHighlight { background-color: #8D8;}
.patRow6.selected { background-color: #28F; }
.patRow6.patterActive.selected { background-color: #28F; }
.patRow7 { background-color: #826;}
.patRow7.patterActive { background-color: #b26; }
.patRow7.patterActive.barPosHighlight { background-color: #FA4; }
.patRow7.patterActive.barPatternHighlight { background-color: #8D8; }
.patRow7.selected { background-color: #28F; }
.patRow7.patterActive.selected { background-color: #28F; }

.barPosHighlight {
    background-color: #FA4;
}
.barPatternHighlight {
    background-color: #8D8;
}
.slideBar {
    position: absolute;
    pointer-events: none;
    cursor: row-resize;
}
.slide {
    background: #544343;
    position: absolute;
    border: 1px solid black;
    cursor : n-resize;
}
.overSlide {
    background: #382828;
    cursor : n-resize;
}
.drawable {
    position: absolute;
    border: 1px solid black;
    top: 22px;
    left: -2px;
    bottom: 7px;
    width: unset;
    height: unset;
    right: 2px;
}    
.drawable.dark {
    background: black;
}


.overDrawable {
    border: 1px solid white;
    cursor : pointer;
}
.noteSelectCan {
    position: absolute; 
    /*border: 1px solid black;    */
    width: 338px;
    image-rendering: pixelated;    
}

.selectionContainer {
	position: absolute;
	cursor: pointer;
	border: 1px solid black;
}
.selectionContainer:hover {
	background-color: #999;
	border-color: #DDD;
}
.selectorText {
	position: absolute;
	background-color: #666;
	 left: 0px;
	width: 120px;
    height: 18px;
	cursor: pointer;
	color: white;
    font-size: 12px;
	pointer-events: none;
	text-indent: 5px;
    display: flex;
    align-items: center;
}
/*.selectorOpenClose {
	position: absolute;
    right: 0px;
    width: 10px;
    height: 16px;
    background-color: #666;
	cursor: pointer;
}
.selectorOpenClose:hover {
	background-color: #999;
}*/
.selectorPannel {
	display: none;
	border: 1px solid black;
    position: absolute;
    top: 20px;
    left: -1px;
	width: 128px;
	z-index: 10000;
	background: #444;
}
.selectorOpen {
	display: block;
}
.selectorItem {
	font-size: 12px;
	color: white;
	cursor: pointer;
	margin-left: 2px;
}
.selectorSelectedItem {
	background: #789;
}
.selectorItem:hover {
	background: #853;
}
.selectorSelectedItem:hover {
	background: #456;
}
.overSelector {
}
.text {
    position: absolute;
    border: 1px solid black;
    color: white;
    font-family: monospace;
    font-size: 16px;
    background: #544343;
    text-indent: 5px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: hidden;
}
.text.checked {
    color: #544343;
    background: white;
    
}
.dragger {
    color: white;
    font-size: 14px;
    background: #5a376c;
    text-indent: 5px;
    cursor: move;
    position: absolute;
    height: 24px;    
    right: 24px;
    left: 0px;
    z-index: 1000;  /*needs to be on top for cursor and drag */
}    
.text.blue {
   background: #37397e; 
}
.text.logs {
    background: #1b261f;
    word-wrap: break-word;
    white-space: pre-wrap;
    overflow-y: scroll;
    overflow-x: hidden;
}
.text.lineLog {
    font-size: 12px;
}
.text.font14 {
    font-size: 14px;
}
.textInput {
    position: absolute;
    border: 1px solid black;
    color: white;
    font-weight: 600;
    font-family: monospace;
    font-size: 16px;
    background: #544343;
    text-indent: 5px;
    text-align: center;
}
.overTextInput {
	border: 1px solid white;
}
.textCMDInput {
    position: absolute;
    border: 1px solid black;
    color: #b9e5b1;
    font-family: Consolas;
    font-size: 14px;
    background: #1b261f;
    text-indent: 5px;
    text-align: left;
}
.overTextCMDInput {
	border: 1px solid white;
}
.volumeButton {
    cursor: none;
}
.volumeButton:hover {
    border: none;
	background-color: black;
    margin-top: 1px;
    margin-left: 1px;
}
.popup {
    position: absolute;
    background-color: #b5a89b;
    color: #000;
    font-size: x-small;   
    border: 1px solid black;
    padding: 2px;
    box-shadow: 2px 2px 0px #0004;
    z-index: 1500
}

.disabled {
    pointer-events: none;
    background-color : rgba(0,0,0,0.5);
    opacity: 0.2;
    cursor : none;
    /*cursor : not-allowed;*/
}
.highlight {
    background-color: #FFF;
}
.logLine {
    color: #b9e5b1;
    font-family: Consolas;
    font-size: 11px;
    
    text-indent: 5px;
    font-weight: 100;
    text-align: left;    
}
.logBtn {
    font-size: 12px;
    font-weight: 100;
    padding: 0px;
    overflow: visible;
    position: unset;
    font-weight: 100;
    padding-left: 2px;
    padding-right: 2px;
    margin: 2px;
    background: #568;
    display: inline-table;
    border: 1px solid #89a;
    white-space: normal;   
}
.logLine.red {
    color: #ff6c6c;
}

  
.logBtn.blue {
    color: #c1c9e7;;
    cursor: pointer;
}
.logBtn.blue:hover {
    background: #2b362f;
}
.logBtn.blue.procedural { background: #444;    cursor: pointer;}
.logBtn.blue.strings {    background: #4a313e; color: #e7c1d3; cursor: pointer;}
.logBtn.blue.bass {       background: #3c263c; color: #e7c1dd; cursor: pointer;}
.logBtn.blue.horns {      background: #4b3656; color: #dcc1e7; cursor: pointer;}
.logBtn.blue.precision {  background: #394e5c; color: #c1d4e7; cursor: pointer;}
.logBtn.blue.pipe {       background: #455c39; color: #d5e7c1; cursor: pointer;}
.logBtn.blue.misc {       background: #605c3b; color: #e6e7c1; cursor: pointer;}
.logBtn.blue.drums {      background: #60453c; color: #e7d4c1; cursor: pointer;}
.logBtn.blue.dropped {    background: #3c1f15; color: #64f9bb; cursor: pointer;}


.logLine.blue{
    color: #aa9fff;
    cursor: pointer;
}
.logLine.blue:hover{
    background: #2b362f;
    border: 1px solid #ACE;
    margin-top: -1px;
    margin-bottom: -1px;
    margin-left: -1px;  
}

.logLine.yellow{
    color: #fff945;
}
.logLine.white{
    color: white;
}
.hiZ { z-index: 1000 }

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #45c114;
}
::-webkit-scrollbar-track {
    background: #11560d;
}

.hide {
    display: none;
    pointer-events: none;
}